body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #2196f3;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    height: 90%;
    overflow-y: scroll;
    padding: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

#chat-form {
    width: 100%;
    display: flex;
    align-items: center;
}

#user-input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

#user-input:focus {
    outline: none;
}

button[type="submit"] {
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0d8ce8;
}

.user-message {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 10px;
    padding: 10px;
    max-width: 70%;
  }
  
  .user-message .User {
    color: #555;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .user-message .message-text {
    color: #333;
    font-size: 1rem;
    line-height: 1.4;
  }

  
.bot-message {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 10px;
    padding: 10px;
    max-width: 70%;
  }
  
  .bot-message .Bot {
    color: #555;
    background-color: rebeccapurple;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .bot-message .message-text {
    color: #333;
    font-size: 1rem;
    line-height: 1.4;
  }
  