@import url('https://fonts.googleapis.com/css2?family=Impact&display=swap');


body {
    font-family: 'Impact', sans-serif;
    background-color: #162F5B;
}

header {
    background-color: #2196f3;
    color: white;
    text-align: center;
    padding: 10px;
}
.banner {
    background-color: #162F5B;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 80px;
}

.icon {
    margin-right: 10px;
}

.icon img {
    width: 40px;
    height: 40px;
}

main {
    display: flex;
    background-color: #2196f3;
    flex-direction: column;
    height: 700px;
    padding: 10px;
    overflow-y: scroll;
}
.toolbar {
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
.left-bar{
    background-color: #333333;
    display: flex;
    width: 200px;
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
}

#chat-form {
    width: 100%;
    display: flex;
    align-items: center;
}

#user-input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

#user-input:focus {
    outline: none;
}

button[type="submit"] {
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0d8ce8;
}

.user-message {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 10px;
    padding: 10px;
    max-width: 70%;
  }
  
  .user-message .user-sender {
    color: darkred;
    background-color: lightgreen;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 5px;
    padding: 5px;;
    border-radius: 5px;
    display: inline-block;
  }
  
  .user-message .message-text {
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 1rem;
    line-height: 1.4;
  }

  
.bot-message {
    font-family: Arial, sans-serif;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 10px;
    padding: 10px;
    max-width: 70%;
  }
  
  .bot-message .bot-sender {
    color: #fff;
    background-color: rebeccapurple;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 5px;
    padding: 5px;;
    border-radius: 5px;
    display: inline-block;
  }
  
  .bot-message .message-text {
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 1rem;
    line-height: 1.4;
  }
  